/*Nav bar styling*/
.page-header {
    display: flex;
}

h2, .nav {
    flex: 1;
    vertical-align: top;
    margin-top: 0 !important;
}

.nav-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}

.orange {
    color: orangered;
}

.black {
    color: black;
}

.bold {
    font-weight: 500;
}

.white {
    color: white;
}

.background-black {
    background-color: black;
}

/*Introduction of case study styling*/
.green {
    color: #2BB438;
}

/*Outcome/Impact Styling*/

/*Page Nav buttons styling*/

