/*Nav bar styling*/
.page-header {
    display: flex;
}

h2, .nav {
    flex: 1;
    vertical-align: top;
    margin-top: 0 !important;
}

.nav-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}

.orange {
    color: #FF5E1A;
}

.black {
    color: black;
}

.bold {
    font-weight: 500;
}

.white {
    color: white;
}

.background-black {
    background-color: black;
}

/*Introduction of case study styling*/
.green {
    color: #2BB438;
}

.intro-margin {
    padding: 120px 0px;
}

.intro-background {
    background-color: #D1CFCF;
}

.btn-primary {
    background-color: #FF5E1A;
    border-color: #FF5E1A;
    margin-top: 30px;
}

/*Outcome/Impact Styling*/
.outcome-margin {
    padding: 30px 0px;
}

.outcome-color {
    background-color: #F4E1E1;
}

/*Page Nav buttons styling*/
.nav-paragraph {
    margin-top: 50px;
    text-align: center;
}

.btn-info {
    background-color: white;
    border-color: black;
    font-weight: 600;
    margin: 50px 0px;
}

/*Research styling*/
.research-background {
    background-color: #B4A0A0;
    border-radius: 8px 8px 0px 0px;
    margin-top: 80px;
    padding-top: 50px;
    padding-bottom: 500px;
}

.gray {
    color: gray;
}

/*Problem Statement styling*/
.problem-background {
    margin-top: 100px; 
    margin-bottom: 100px;  
}

/*Iterations styling*/

/*Prototype styling*/
